---
layout: page
# The Home page layout
---

{% include lang.html %}


<h1>Welcome to jrj.org</h1>

<p>This is the personal blog of Joseph R. Jones. I don't really post anymore. I just maintain the archive because it’s been around in various forms for decades.</p>

<h2><a href="/archives">Archives</a></h2>
<p>Check out the <a href="/archives">Archives</a>, including posts going back to 2002. At some point I will go through old posts and find a few good examples, the list below has a heavy recency bias.</p>

<ul>
  <li><a href="/2022/02/20/Acknowledging-Virtual-Neural-and-G-Force-Live/">Acknowledging Virtual Neural and G-Force Live</a></li>
  <li><a href="/2020/02/20/the-next-challenge-leaving-adobe-virtual-neural/">What's Next: Leaving Adobe, starting Virtual Neural</a></li>
  <li><a href="/2015/05/17/ai-bots-revenge-poker-and-artificial-intelligence/">Revenge of the Bots: Poker & AI</a></li>
</ul>
